<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools" >

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_adagora"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_adagora_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TFGKotlin"
        tools:targetApi="31" >
        <activity
            android:name=".RecuperarContrasenaActivity"
            android:exported="false" />
        <activity
            android:name=".RegistroEmpresaActivity"
            android:exported="false" />
        <activity
            android:name=".RegistroEmpleadoActivity"
            android:exported="false" />
        <activity
            android:name=".MenuCreadorActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="false" />
        <activity
            android:name=".MenuEmpleadoActivity"
            android:exported="false" />
        <activity
            android:name=".CreacionActivity"
            android:exported="false" />
        <activity
            android:name=".EmpleadosActivity"
            android:exported="false" />
        <activity
            android:name=".GestionHorariosActivity"
            android:exported="false" />
        <activity
            android:name=".GestionExtrasActivity"
            android:exported="false" />
        <activity
            android:name=".Principal"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Home Screen Widget -->
        <receiver
            android:name=".widget.UpcomingReservationsWidget"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="com.example.tfg_kotlin.widget.ACTION_REFRESH" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/upcoming_reservations_widget_info" />
        </receiver>

    </application>

</manifest>